@model MusteriCreateDTO
<div class="card">
    <div class="card-header">
        <h3>Yeni Müsteri</h3>
        <div class="card-header">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Musteri" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="text" asp-for="Ad" class="form-control" placeholder="Adiniz">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope text-danger" asp-validation-for="Ad"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" asp-for="Soyad" class="form-control" placeholder="Soyadi">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope text-danger" asp-validation-for="Soyad"></span>
                    </div>
                </div>
            </div>
             <div class="input-group mb-3">
                @* 
<input type="radio" asp-for="Cinsiyet"  class="form-control" placeholder="Bayan"> *@
                @* <input type="radio" asp-for="Cinsiyet"  class="form-control" placeholder="Erkek"> *@
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope text-danger" asp-validation-for="Cinsiyet"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
            <input type="TcNo" asp-for="MusteriTcNo" class="form-control" placeholder="MusteriTcNo">

                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope text-danger" asp-validation-for="MusteriTcNo"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
            <input type="tel" asp-for="CepNo" class="form-control" placeholder="CepNo">

                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope text-danger" asp-validation-for="CepNo"></span>
                    </div>
                </div>
            </div>
            </form>
        </div>
   </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/jquery.multi-select.min.js"></script>